Plaintext

# Виртуальное окружение
.venv/

# Пароли и секреты
.env

# Базы данных и бэкапы
db.sqlite3
backups/

# Папки с загруженными файлами и картинками
media/
knowledge_input/

# Кэш питона
__pycache__/
*.pyc